* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0e12;
}

.bg-sub {
  background-color: #121519;
}

.text-iconColor {
  color: #c9d1d9;
}

.text-sidebar-letter-Color {
  color: #d1d5db;
}

.button-color {
  background-color: #191d21;
}

.form-color {
  background-color: #02050a;
}

.bg-date-picker {
  background-color: #01050a;
}

.bg-modal {
  background-color: #0b0e12;
}
