* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1116;
}

.bg-sub {
  background-color: #161b22;
}

.text-iconColor {
  color: #c9d1d9;
}

.text-sidebar-letter-Color {
  color: #d1d5db;
}
